<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="4">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Operations</th>
    </tr>

    <tr th:each = "user : ${users}">
        <td th:text = "${user.firstName}"></td>
        <td th:text = "${user.lastName}"/></td>
        <td th:text = "${user.email}"/></td>
        <td>
            <form th:method="GET" th:action="@{/update/{id}(id=${user.getId()})}">
                <input type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/deleteUser/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>

    </tr>
</table>
<input type="button" value="AddUser" onclick="window.location.href = 'viewUser'">

</body>
</html>

<!--<form th:method="DELETE">-->
<!--    <a th:href="@{'/deleteUser/' + ${user.id}}">Delete</a>-->
<!--</form> </td>-->

<!--<form th:method="PATCH">-->
<!--    <a th:href="@{'/update/' + ${user.id}}">Update</a>-->
<!--</form>-->